@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_UserLayout.cshtml";

}


<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h6 class="display-4" style="font-size:35px !important;">With our application, you can go from anywhere to the Hashemite University</h6>
                <p class="lead text-muted mb-0">We are students from the Hashemite University, consisting of 4 people, majoring in computer science. We have designed a site that facilitates transportation for you while ensuring safety for all with easier transportation, fast booking and unlimited possibilities</p>

            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt="" class="img-fluid"></div>
        </div>
    </div>
</div>





